<div>
   <p class="fs-3">Quiz Finished!</p>
   <p class="fs-5">Your score: {{ score }} points</p>
   <p class="fs-5">Time taken: {{ totalTime }} seconds</p>
   <p class="fs-5">Correct answers: {{ score }} out of {{ totalQuestions }}</p>
   <p class="fs-5">Average time per question: {{ averageTimePerQuestion | number:'1.2-2' }} seconds</p>
   <p class="fs-5">Success rate: {{ successRate | number:'1.0-2' }}%</p>
   <button type="button" class="btn btn-outline-secondary" routerLink="/home">Back to Home</button>
</div>