<div *ngIf="quiz && quiz.questions.length === 0">
   <p>No questions available for this quiz.</p>
</div>

<div *ngIf="loadingError" class="error-message">
   <h2>Sorry, we were unable to load data for the current quiz.</h2>
   <p>You will be redirected to the home page in a few seconds...</p>
</div>

<div *ngIf="!loadingError && quiz && quiz.questions.length > 0">
   <h2>{{quiz.category}} Quiz</h2>
   <p>Question {{currentQuestionIndex + 1}} of {{quiz.questions.length}}</p>

   <div>
      <p>{{currentQuestion.question}}</p>
      <ul>
         <li *ngFor="let answer of currentQuestion.answers">
            <label>
               <input type="radio" name="answer" [value]="answer" (change)="selectAnswer(answer)"
                  [checked]="answer === selectedAnswer"
                  [attr.aria-checked]="answer === selectedAnswer ? 'true' : 'false'">
               {{answer}}
            </label>
         </li>
      </ul>
   </div>

   <button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Previous Question</button>
   <button (click)="nextQuestion()" [disabled]="!selectedAnswer">Next Question</button>
   <button (click)="cancelQuiz()">Cancel Quiz</button>
</div>